build/
*/*/pkg//
*/*/src/
*/pkg/
*/src/
pkg/
src/
*/*/*.tar*
*/*/*.t*z*
*/*/*.pkg*
*/*/*.zip*
*/*/*.rar*
*/*/*.xar*
*/*/*.xz*
*/*/*.gz*
*/*/*.lz*
*/*/*.bz*
*/*/*.img*
*/*/*.iso*
*/*/*.run*
*/*.tar*
*/*.t*z*
*/*.pkg*
*/*.zip*
*/*.rar*
*/*.xar*
*/*.xz*
*/*.gz*
*/*.lz*
*/*.bz*
*/*.tar*
*/*.img*
*/*.iso*
*/*.run*
*.t*z*
*.pkg*
*.zip*
*.rar*
*.xar*
*.xz*
*.gz*
*.lz*
*.bz*
*.img*
*.iso*
*.run*
