*~
*.asc
*.bin
*.deb
*.diff.gz
*.exe
*.html
*.jar
*.jpg
*.log
*.log.bz2
*.rpm
*.run
*.sig
*.sign
*.tar
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tar.xz
*.tbz2
*.tgz
*.xpi
*.zip
*.tar.Z
*.tbz2
*.txz
*.tar.lz
*.tlz
*.tar.lz4
*.tar.zst
*.tar.zstd
*.7z
*.img
*.iso
work/
OUT.*
