OUT.*/
*/work/
*/work/
work/
*/*/*.tar*
*/*/*.t*z*
*/*/*.pkg*
*/*/*.rpm*
*/*/*.zip*
*/*/*.rar*
*/*/*.xar*
*/*/*.xz*
*/*/*.gz*
*/*/*.lz*
*/*/*.bz*
*/*/*.zst*
*/*/*.img*
*/*/*.iso*
*/*/*.run*
*/*/januslinux*
*/*/ataraxia*
*/*.tar*
*/*.t*z*
*/*.pkg*
*/*.rpm*
*/*.zip*
*/*.rar*
*/*.xar*
*/*.xz*
*/*.gz*
*/*.lz*
*/*.bz*
*/*.zst*
*/*.tar*
*/*.img*
*/*.iso*
*/*.run*
*/januslinux*
*/ataraxia*
*.t*z*
*.pkg*
*.rpm*
*.zip*
*.rar*
*.xar*
*.xz*
*.gz*
*.lz*
*.bz*
*.zst*
*.img*
*.iso*
*.run*
januslinux*
ataraxia*
stuff/*/config.h
stuff/config.h
community
