#!/bin/bash

 . /etc/rc.conf

if [ "$nettype" = "wireless" ]; then
	if [ -z "$interface" ]; then
		interface="wlan0"
	fi
else
	if [ -z "$interface" ]; then
		interface="eth0"
	fi
fi

case $1 in
	start)
		if [ "$nettype" = "static" ]; then
			ip addr add ${address}/${mask} dev ${interface} broadcast +
			ip link set ${interface} up
			ip route add default via ${gateway}
		elif [ "$nettype" = "dhcp" ]; then
			ip link set ${interface} up
			exec dhcpcd ${interface}
		elif [ "$nettype" = "wireless" ]; then
			ip link set ${interface} up
			exec wpa_supplicant -B -i ${interface} -c /etc/wpa_supplicant/wpa_supplicant.conf
			exec dhcpcd ${interface}
		fi
		;;
	stop)
		if [ "$nettype" = "static" ]; then
			ip route del default
			ip link set ${interface} down
			ip addr del ${address}/${mask} dev  ${interface}
		elif [ "$nettype" = "dhcp" ]; then
			killall dhcpcd
			ip link set ${interface} down
		elif [ "$nettype" = "wireless" ]; then
			killall dhcpcd
			killall wpa_supplicant
			ip link set ${interface} down
		fi
		;;
	restart|reload)
		$0 stop
		$0 start
		;;
esac
