# "mini" config

# CONFIG_KERNEL_GZIP is not set
# CONFIG_KERNEL_BZIP2 is not set
# CONFIG_KERNEL_LZMA is not set
# CONFIG_KERNEL_LZO is not set
# CONFIG_KERNEL_LZ4 is not set
# CONFIG_CC_OPTIMIZE_FOR_PERFORMANCE is not set
# CONFIG_HZ_100 is not set
# CONFIG_HZ_250 is not set
# CONFIG_HZ_1000 is not set
# CONFIG_MODULE_COMPRESS_GZIP is not set
# CONFIG_PREEMPT_NONE is not set
# CONFIG_PREEMPT_VOLUNTARY is not set
# CONFIG_PREEMPT is not set
# CONFIG_EMBEDDED is not set
# CONFIG_SQUASHFS_FILE_CACHE is not set
# CONFIG_SQUASHFS_DECOMP_SINGLE is not set
# CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU is not set
# CONFIG_SQUASHFS_4K_DEVBLK_SIZE is not set
# CONFIG_SQUASHFS_EMBEDDED is not set
# CONFIG_HWMON is not set
# CONFIG_LBDAF is not set
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_COMPAT_VDSO is not set
# CONFIG_SYSFS_DEPRECATED is not set
# CONFIG_FW_LOADER_USER_HELPER is not set
# CONFIG_NF_TABLES_BRIDGE is not set
# CONFIG_BRIDGE_NF_EBTABLES is not set
# CONFIG_BRIDGE_VLAN_FILTERING is not set
# CONFIG_OSF_PARTITION is not set
# CONFIG_AMIGA_PARTITION is not set
# CONFIG_SUN_PARTITION is not set
# CONFIG_KARMA_PARTITION is not set
# CONFIG_SCHED_DEBUG is not set
# CONFIG_KEYBOARD_ATKBD is not set
# CONFIG_AMLOGIC_USB_3 is not set
# CONFIG_CFG80211_DEBUGFS is not set
# CONFIG_CFG80211_CRDA_SUPPORT is not set
CONFIG_DEFAULT_HOSTNAME="miyuki"
CONFIG_SQUASHFS_FRAGMENT_CACHE_SIZE=3
CONFIG_HZ=300
CONFIG_SND_HDA_PREALLOC_SIZE=2048
CONFIG_UEVENT_HELPER_PATH=""
CONFIG_FAT_DEFAULT_CODEPAGE=437
CONFIG_FAT_DEFAULT_IOCHARSET="ascii"
CONFIG_NLS_DEFAULT="utf8"
CONFIG_DEFAULT_TCP_CONG="cubic"
CONFIG_MAC80211_RC_DEFAULT="minstrel_ht"
CONFIG_MAC80211_STA_HASH_MAX_SIZE=0

CONFIG_NF_DEFRAG_IPV4=y
CONFIG_9P_FS_POSIX_ACL=y
CONFIG_9P_FS_SECURITY=y
CONFIG_9P_FS=y
CONFIG_9P_FSCACHE=y
CONFIG_ADVISE_SYSCALLS=y
CONFIG_AMLOGIC_USB=y
CONFIG_ANON_INODES=y
CONFIG_AUDIT=y
CONFIG_AUDITSYSCALL=y
CONFIG_AUTOFS4_FS=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_BLK_CGROUP=y
CONFIG_BLK_DEV_BSG=y
CONFIG_BLK_DEV_DM=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_SD=y
CONFIG_BLK_DEV_SR=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_BLK_DEV=y
CONFIG_BLK_WBT_MQ=y
CONFIG_BLK_WBT_SQ=y
CONFIG_BLK_WBT=y
CONFIG_BLOCK=y
CONFIG_BONDING=y
CONFIG_BOOT_PRINTK_DELAY=y
CONFIG_BPF_EVENTS=y
CONFIG_BPF_JIT=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPFILTER=y
CONFIG_BQL=y
CONFIG_BRIDGE_IGMP_SNOOPING=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_BRIDGE=y
CONFIG_BTRFS_FS_CHECK_INTEGRITY=y
CONFIG_BTRFS_FS_POSIX_ACL=y
CONFIG_BTRFS_FS=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_INTERNAL_REGDB=y
CONFIG_CFG80211=y
CONFIG_CFQ_GROUP_IOSCHED=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CGROUP_CPUACCT=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_FREEZER=y
CONFIG_CGROUP_HUGETLB=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_CGROUP_PERF=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_SCHED=y
CONFIG_CGROUPS=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CONFIGFS_FS=y
CONFIG_CPUSETS=y
CONFIG_CRYPTO_AEAD=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_GCM=y
CONFIG_CRYPTO_GHASH=y
CONFIG_CRYPTO_HMAC=y
CONFIG_CRYPTO_LZ4=y
CONFIG_CRYPTO_LZ4HC=y
CONFIG_CRYPTO_SEQIV=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_TWOFISH=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO=y
CONFIG_DEVTMPFS=y
CONFIG_DM_CRYPT=y
CONFIG_DM_MIRROR=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_DMIID=y
CONFIG_DNOTIFY=y
CONFIG_DNS_RESOLVER=y
CONFIG_DRM_BRIDGE=y
CONFIG_DRM_VIRTIO_GPU=y
CONFIG_DRM=y
CONFIG_DST_CACHE=y
CONFIG_DUMMY=y
CONFIG_EARLY_PRINTK=y
CONFIG_EFI_PARTITION=y
CONFIG_EFIVAR_FS=y
CONFIG_EPOLL=y
CONFIG_ETHERNET=y
CONFIG_EVENTFD=y
CONFIG_EXPERT=y
CONFIG_EXPORTFS=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_F2FS_FS_SECURITY=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS=y
CONFIG_FAIR_GROUP_SCHED=y
CONFIG_FANOTIFY=y
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_FAT_FS=y
CONFIG_FHANDLE=y
CONFIG_FILE_LOCKING=y
CONFIG_FRAMEBUFFER_CONSOLE_DEFERRED_TAKEOVER=y
CONFIG_FS_ENCRYPTION=y
CONFIG_FS_MBCACHE=y
CONFIG_FS_POSIX_ACL=y
CONFIG_FSNOTIFY=y
CONFIG_FUSE_FS=y
CONFIG_GENERIC_ACL=y
CONFIG_GPIO_SYSFS=y
CONFIG_HAVE_KERNEL_BZIP2=y
CONFIG_HAVE_KERNEL_GZIP=y
CONFIG_HAVE_KERNEL_LZ4=y
CONFIG_HAVE_KERNEL_LZMA=y
CONFIG_HAVE_KERNEL_LZO=y
CONFIG_HAVE_KERNEL_XZ=y
CONFIG_HAVE_NET_DSA=y
CONFIG_HFS_FS=y
CONFIG_HFSPLUS_FS=y
CONFIG_HID_GENERIC=y
CONFIG_HID=y
CONFIG_HIDRAW=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_HZ_300=y
CONFIG_I2C_CHARDEV=y
CONFIG_I2C_HID=y
CONFIG_IKCONFIG_PROC=y
CONFIG_IKCONFIG=y
CONFIG_INET_ESP=y
CONFIG_INET_LRO=y
CONFIG_INET_TUNNEL=y
CONFIG_INET_XFRM_MODE_TRANSPORT=y
CONFIG_INET=y
CONFIG_INOTIFY_USER=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_INPUT_JOYSTICK=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_INPUT_LEDS=y
CONFIG_INPUT_MISC=y
CONFIG_INPUT_MOUSEDEV=y
CONFIG_INPUT_POLLDEV=y
CONFIG_INPUT_TABLET=y
CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_INPUT_UINPUT=y
CONFIG_INPUT=y
CONFIG_IOSCHED_BFQ=y
CONFIG_IOSCHED_CFQ=y
CONFIG_IP_MROUTE=y
CONFIG_IP_MULTICAST=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IP_NF_FILTER=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_IP_NF_MANGLE=y
CONFIG_IP_NF_NAT=y
CONFIG_IP_NF_TARGET_MASQUERADE=y
CONFIG_IP_NF_TARGET_REJECT=y
CONFIG_IP_ROUTE_MULTIPATH=y
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=y
CONFIG_IP_VS=y
CONFIG_IP6_NF_FILTER=y
CONFIG_IP6_NF_IPTABLES=y
CONFIG_IP6_NF_MANGLE=y
CONFIG_IP6_NF_NAT=y
CONFIG_IP6_NF_TARGET_MASQUERADE=y
CONFIG_IP6_NF_TARGET_REJECT=y
CONFIG_IPC_NS=y
CONFIG_IPV6_NDISC_NODETYPE=y
CONFIG_IPV6_SIT=y
CONFIG_IPV6=y
CONFIG_IPVLAN=y
CONFIG_ISO9660_FS=y
CONFIG_JBD2=y
CONFIG_JFS_FS=y
CONFIG_JFS_SECURITY=y
CONFIG_JOLIET=y
CONFIG_KERNEL_XZ=y
CONFIG_KERNFS=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_KEYBOARD_GPIO=y
CONFIG_KEYS=y
CONFIG_KVM_GUEST=y
CONFIG_KVM=y
CONFIG_LEGACY_VSYSCALL_EMULATE=y
CONFIG_LLC=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_MAC_PARTITION=y
CONFIG_MAC80211_HAS_RC=y
CONFIG_MAC80211_LEDS=y
CONFIG_MAC80211_RC_DEFAULT_MINSTREL=y
CONFIG_MAC80211_RC_MINSTREL_HT=y
CONFIG_MAC80211_RC_MINSTREL_VHT=y
CONFIG_MAC80211_RC_MINSTREL=y
CONFIG_MAC80211=y
CONFIG_MACSEC=y
CONFIG_MACVLAN=y
CONFIG_MAGIC_SYSRQ=y
CONFIG_MANDATORY_FILE_LOCKING=y
CONFIG_MAY_USE_DEVLINK=y
CONFIG_MD_AUTODETECT=y
CONFIG_MD_LINEAR=y
CONFIG_MD_RAID0=y
CONFIG_MD_RAID1=y
CONFIG_MD_RAID10=y
CONFIG_MD_RAID456=y
CONFIG_MD=y
CONFIG_MEMCG_SWAP_ENABLED=y
CONFIG_MEMCG_SWAP=y
CONFIG_MEMCG=y
CONFIG_MEMSTICK_REALTEK_USB=y
CONFIG_MFD_RTSX_USB=y
CONFIG_MISC_FILESYSTEMS=y
CONFIG_MMC_REALTEK_USB=y
CONFIG_MODULE_COMPRESS_XZ=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODULE_SRCVERSION_ALL=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULES=y
CONFIG_MODVERSIONS=y
CONFIG_MOUSE_PS2_SYNAPTICS_SMBUS=y
CONFIG_MOUSE_PS2_SYNAPTICS=y
CONFIG_MOUSE_PS2=y
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_MOUSE_SYNAPTICS_USB=y
CONFIG_NAMESPACES=y
CONFIG_NET_9P_VIRTIO=y
CONFIG_NET_9P=y
CONFIG_NET_ACT_BPF=y
CONFIG_NET_CLS_BPF=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_NET_CORE=y
CONFIG_NET_FLOW_LIMIT=y
CONFIG_NET_IP_TUNNEL=y
CONFIG_NET_L3_MASTER_DEV=y
CONFIG_NET_NS=y
CONFIG_NET_POLL_CONTROLLER=y
CONFIG_NET_PTP_CLASSIFY=y
CONFIG_NET_RX_BUSY_POLL=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_SFB=y
CONFIG_NET=y
CONFIG_NETCONSOLE=y
CONFIG_NETDEVICES=y
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NETFILTER_NETLINK_LOG=y
CONFIG_NETFILTER_NETLINK=y
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=y
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=y
CONFIG_NETFILTER_XT_MATCH_IPRANGE=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_NETFILTER_XT_MATCH_OWNER=y
CONFIG_NETFILTER_XT_MATCH_STATE=y
CONFIG_NETFILTER_XT_NAT=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER=y
CONFIG_NETLINK_DIAG=y
CONFIG_NETPOLL=y
CONFIG_NETWORK_FILESYSTEMS=y
CONFIG_NETWORK_PHY_TIMESTAMPING=y
CONFIG_NF_CONNTRACK_BROADCAST=y
CONFIG_NF_CONNTRACK_FTP=y
CONFIG_NF_CONNTRACK_IPV4=y
CONFIG_NF_CONNTRACK_IPV6=y
CONFIG_NF_CONNTRACK_IR=y
CONFIG_NF_CONNTRACK_NETBIOS_NS=y
CONFIG_NF_CONNTRACK_SIP=y
CONFIG_NF_CONNTRACK_TFTP=y
CONFIG_NF_CONNTRACK=y
CONFIG_NF_CT_NETLINK=y
CONFIG_NF_DEFRAG_IPV6==y
CONFIG_NF_NAT_FTP=y
CONFIG_NF_NAT_IPV4=y
CONFIG_NF_NAT_IPV6=y
CONFIG_NF_NAT_IRC=y
CONFIG_NF_NAT_MASQUERADE_IPV4=y
CONFIG_NF_NAT_MASQUERADE_IPV6=y
CONFIG_NF_NAT_NEEDED=y
CONFIG_NF_NAT_SIP=y
CONFIG_NF_NAT_TFTP=y
CONFIG_NF_NAT=y
CONFIG_NF_REJECT_IPV4=y
CONFIG_NF_REJECT_IPV6=y
CONFIG_NLATTR=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y
CONFIG_NLS=y
CONFIG_NO_HZ_FULL=y
CONFIG_NO_HZ=y
CONFIG_NPUT_MOUSE=y
CONFIG_OF_NET=y
CONFIG_OPTIMIZE_INLINING=y
CONFIG_OVERLAY_FS=y
CONFIG_PACKET=y
CONFIG_PARTITION_ADVANCED=y
CONFIG_PCI=y
CONFIG_PID_NS=y
CONFIG_POSIX_MQUEUE_SYSCTL=y
CONFIG_POSIX_MQUEUE=y
CONFIG_POSIX_TIMERS=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_MPPE=y
CONFIG_PPP=y
CONFIG_PPPOE=y
CONFIG_PPPOLAC=y
CONFIG_PPPOPNS=y
CONFIG_PREEMPT=y
CONFIG_PRINTK=y
CONFIG_PROC_DEVICETREE=y
CONFIG_PROC_FS=y
CONFIG_PROC_KCORE=y
CONFIG_PROC_PAGE_MONITOR=y
CONFIG_PROC_SYSCTL=y
CONFIG_RD_BZIP2=y
CONFIG_RD_GZIP=y
CONFIG_RD_LZ4=y
CONFIG_RD_LZMA=y
CONFIG_RD_LZO=y
CONFIG_RD_XZ=y
CONFIG_REISERFS_FS=y
CONFIG_RFKILL_LEDS=y
CONFIG_RFKILL_PM=y
CONFIG_RFKILL=y
CONFIG_RFS_ACCEL=y
CONFIG_RPMSG_VIRTIO=y
CONFIG_RPMSG=y
CONFIG_RPS=y
CONFIG_RT_GROUP_SCHED=y
CONFIG_SCHED_AUTOGROUP=y
CONFIG_SCHEDSTATS=y
CONFIG_SCSI_DMA=y
CONFIG_SCSI_MULTI_LUN=y
CONFIG_SCSI=y
CONFIG_SECCOMP_FILTER=y
CONFIG_SECCOMP=y
CONFIG_SECTION_MISMATCH_WARN_ONLY=y
CONFIG_SERIO=y
CONFIG_SGI_PARTITION=y
CONFIG_SHMEM=y
CONFIG_SIGNALFD=y
CONFIG_SLHC=y
CONFIG_SLOB=y
CONFIG_SQUASHFS_DECOMP_MULTI=y
CONFIG_SQUASHFS_FILE_DIRECT=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_XZ=y
CONFIG_SQUASHFS_ZLIB=y
CONFIG_SQUASHFS_ZSTD=y
CONFIG_STP=y
CONFIG_SYSCTL=y
CONFIG_SYSFS=y
CONFIG_SYSVIPC=y
CONFIG_TCP_CONG_BBR=y
CONFIG_TCP_CONG_CUBIC=y
CONFIG_TIMER_STATS=y
CONFIG_TIMERFD=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
CONFIG_TMPFS=y
CONFIG_TTY=y
CONFIG_TUN=y
CONFIG_UCSI=y
CONFIG_UDF_FS=y
CONFIG_UDF_NLS=y
CONFIG_UHID=y
CONFIG_UNIX=y
CONFIG_USB_ACM=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_ARCH_HAS_HCD=y
CONFIG_USB_CHIPIDEA_HOST=y
CONFIG_USB_CHIPIDEA_O=y
CONFIG_USB_CHIPIDEA_UDC=y
CONFIG_USB_CHIPIDEA=y
CONFIG_USB_COMMON=y
CONFIG_USB_DEFAULT_PERSIST=y
CONFIG_USB_DWC_OTG_HCD=y
CONFIG_USB_DWCOTG=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_PCI=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_USB_EHCI_TT_NEWSCHED=y
CONFIG_USB_HID=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_HOST_ELECT_TEST=y
CONFIG_USB_MON=y
CONFIG_USB_MXS_PHY=y
CONFIG_USB_OHCI_HCD_PCI=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_PHY=y
CONFIG_USB_PRINTER=y
CONFIG_USB_STORAGE=y
CONFIG_USB_SUPPORT=y
CONFIG_USB_UAS=y
CONFIG_USB_UHCI_HCD=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_PCI=y
CONFIG_USB=y
CONFIG_USER_NS=y
CONFIG_UTS_NS=y
CONFIG_VETH=y
CONFIG_VFAT_FS=y
CONFIG_VHOST_NET=y
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_MENU=y
CONFIG_VIRTIO_MMIO_CMDLINE_DEVICES=y
CONFIG_VIRTIO_MMIO=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI_LEGACY=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_VSOCKETS=y
CONFIG_VLAN_8021Q=y
CONFIG_VSOCKETS=y
CONFIG_VXLAN=y
CONFIG_WEXT_CORE=y
CONFIG_WIRELESS=y
CONFIG_XFRM_ALGO=y
CONFIG_XFRM_USER=y
CONFIG_XFRM=y
CONFIG_XFS_FS=y
CONFIG_XFS_ONLINE_SCRUB=y
CONFIG_XFS_POSIX_ACL=y
CONFIG_XFS_QUOTA=y
CONFIG_XFS_RT=y
CONFIG_XFS_WARN=y
CONFIG_XPS=y
CONFIG_ZISOFS=y
