[Unit]
Description=ACPI Event Daemon
Documentation=man:acpid(8)
Requires=acpid.socket

[Service]
StandardInput=socket
ExecStart=/usr/bin/acpid -f

[Install]
Also=acpid.socket
WantedBy=multi-user.target
