[Unit]
Description=Network traffic analyzer
After=syslog.target network-online.target

[Service]
Type=forking
EnvironmentFile=-/etc/conf.d/darkstat
ExecStart=/usr/bin/darkstat $OPTIONS
Restart=always

[Install]
WantedBy=multi-user.target
