[Unit]
Description=Distccd A Distributed Compilation Server
After=network.target

[Service]
User=nobody
EnvironmentFile=-/etc/conf.d/distccd
ExecStart=/usr/bin/distccd --no-detach --daemon --whitelist=/etc/distcc/clients.allow $OPTIONS

[Install]
WantedBy=multi-user.target
