[Unit]
Description=Distccd A Distributed Compilation Server
After=network.target

[Service]
User=nobody
ExecStart=/usr/bin/distccd --no-detach --daemon --whitelist=/etc/distcc/clients.allow

[Install]
WantedBy=multi-user.target
