[Unit]
Description=Dropbear SSH Server Daemon
Documentation=man:dropbear(8)
Wants=dropbear-keygen.service
After=network.target

[Service]
EnvironmentFile=-/etc/conf.d/dropbear
ExecStart=/usr/bin/dropbear -E -F $OPTIONS

[Install]
WantedBy=multi-user.target
