[Unit]
Description=Erlang Port Mapper Daemon

[Service]
ExecStart=/usr/bin/epmd -daemon
ExecStop=/usr/bin/epmd -kill
Type=forking

[Install]
WantedBy=multi-user.target
