[Unit]
Description=Exim Mail Transport Agent
After=network.target
Conflicts=sendmail.service postfix.service

[Service]
PrivateTmp=true
Environment=QUEUE=1h
ExecStart=/usr/bin/exim -bd -q${QUEUE}

[Install]
WantedBy=multi-user.target
