[Unit]
Description=Console Mouse manager

[Service]
ExecStart=/usr/bin/gpm -m /dev/input/mice -t exps2
Type=forking
PIDFile=/run/gpm.pid

[Install]
WantedBy=multi-user.target
