[Unit]
Description=Lightning Fast Webserver With Light System Requirements
After=syslog.target network.target

[Service]
PIDFile=/run/lighttpd.pid
EnvironmentFile=-/etc/conf.d/lighttpd
ExecStart=/usr/bin/lighttpd -D -f /etc/lighttpd/lighttpd.conf

[Install]
WantedBy=multi-user.target
