[Unit]
Description=Update a database for mlocate

[Service]
Type=Oneshot
ExecStart=/usr/bin/updatedb
Nice=19
IOSchedulingClass=2
IOSchedulingPriority=7

PrivateTmp=true
PrivateDevices=true
PrivateNetwork=true
ProtectSystem=true
