[Unit]
Description=Busybox NTP daemon

[Service]
EnvironmentFile=/etc/conf.d/ntpd
ExecStart=/usr/bin/ntpd ${NTPD_OPTS:--N -p pool.ntp.org}

[Install]
WantedBy=multi-user.target
