[Unit]
Description=Open vSwitch Database Server

[Service]
ExecStart=/usr/bin/ovsdb-server --remote=punix:/run/openvswitch/db.sock --pidfile=/run/openvswitch/ovsdb-server.pid
