[Unit]
Description=Scanner Service
Requires=saned.socket

[Service]
ExecStart=/usr/bin/saned
User=saned
Group=saned
StandardInput=null
StandardOutput=syslog
StandardError=syslog

[Install]
Also=saned.socket
