[Unit]
Description=Relabeling all filesystems
DefaultDependencies=no
Before=systemd-journald-audit.socket systemd-firstboot.service sysinit.target
ConditionSecurity=selinux
ConditionPathIsDirectory=/etc/selinux
ConditionPathExists=/.autorelabel

[Service]
Type=oneshot
StandardOutput=journal+console
ExecStart=/usr/bin/selinux-autorelabel

[Install]
WantedBy=sysinit.target
