[Unit]
Description=Relabeling all filesystems
DefaultDependencies=no
Before=sysinit.target
After=systemd-tmpfiles-setup.service
ConditionSecurity=selinux
ConditionPathIsDirectory=/etc/selinux
ConditionPathExists=/.autorelabel

[Service]
Type=oneshot
StandardOutput=console
ExecStart=/usr/bin/selinux-autorelabel

[Install]
WantedBy=sysinit.target
