[Unit]
Description=OpenSSH per-connection server daemon
After=syslog.target auditd.service

[Service]
ExecStart=-/usr/bin/sshd -i -e
StandardInput=socket
StandardError=syslog
