[Unit]
Description=small, efficient HTTP/SSL proxy daemon
Documentation=man:tinyproxy(8)
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/tinyproxy
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/tinyproxy/tinyproxy.pid

[Install]
WantedBy=multi-user.target
