[Unit]
Description=Unbound recursive Domain Name Server
After=network.target
After=unbound-keygen.service
Wants=unbound-keygen.service
Wants=unbound-anchor.timer
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=simple
EnvironmentFile=-/etc/conf.d/unbound
ExecStartPre=/usr/bin/unbound-checkconf
ExecStartPre=-/usr/bin/unbound-anchor -a /var/lib/unbound/root.key -c /etc/unbound/icannbundle.pem -f /etc/resolv.conf -R
ExecStart=/usr/bin/unbound -d $UNBOUND_OPTIONS
ExecReload=/usr/bin/unbound-control reload

[Install]
WantedBy=multi-user.target
